@model PontoColeta.Models.Coordinates

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Coordinates</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCoordinates" />
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeLugar" class="control-label"></label>
                <input asp-for="NomeLugar" class="form-control" />
                <span asp-validation-for="NomeLugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRefItem" class="control-label"></label>
                <select asp-for="IdRefItem" class="form-control" asp-items="ViewBag.IdRefItem"></select>
                <span asp-validation-for="IdRefItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

