@{
    ViewData["Title"] = "Sobre o projeto";
}
<h1>@ViewData["Title"]</h1>

<p>
    O nosso principal objetivo aqui é criar uma aplicação com o intuito de ajudar na distribuição de informações [locais] onde possam ser realizado descartes da forma correta.  O Ponto Coleta faz o meio de campo entre o consumidor e os estabelecimentos que recebem algum tipo de material/produto que precise de um descarte mais adequado que o convencional.
</p>
